<table class="table">
    <tbody>
        <tr>
            <th>
                <div><strong>name</strong></div>
            </th>
            <th>
                <%= user.name %>
            </th>
        </tr>
        <tr>
            <th><strong>introduction</strong></th>
            <th>
                <%= user.introduction %>
            </th>
        </tr>
    </tbody>
</table>