/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}
.notice {
  background-color: green;
  color: white;
  text-align: center;
}
.alert {
  background-color: red;
  color: white;
  text-align: center;
}
.log-in, .sign-up {
	margin: 30px 60px;
}
.log-in .field, .sign-up .field {
	margin: 10px 0;
}
.log-in .actions, sign-up .actions {
	margin: 10px 0;
}
/*top-page*/
.top-page {
	width: 100%;
	margin: 30px 0;
	font-size: 12px;
}
.top-box {
	width: 500px;
	margin: 0 auto;
}
.top-page h1 {
	margin: 30px 0;
}
.top-page p {
	margin: 15px 0;
}
.top-log-in, .top-sign-up {
	width: 400px;
	margin: 0 auto;
}
/*index*/
.index-page, .user-info-page {
	margin: 30px;
}
.index-page h2 {
	margin: 10px 0;
}
.index-page h3 {
	margin: 10px 0;
}
.index-page h5 {
	margin: 10px 0 0;
}
.book_title, .book_body {
	margin: 10px 0;
}
.create-button {
	margin: 5px 0;
}
.table {
	font-size: 12px;
}
.table th {
	padding-bottom: 5px;
}
.table td {
	padding: 0 5px 5px
}
/*edit*/
.edit-page {
	width:500px;
	margin: 30px auto;
}
.edit-page h2 {
	margin: 10px 0 0;
}
.edit-page h5 {
	margin: 10px 0 0;
}
.update-button {
	margin: 5px 0 10px;
}
/*show*/
.show-page {
	margin: 30px;
	font-size: 12px;
}
footer {
	width: 100%;
	margin-left: 75%;
}
footer .p {
	font-size: 12px;
	padding-rigth: 30px;
}