/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}
/*top-page*/
.top-page {
	margin: 30px;
	font-size: 12px;
}
.top-page h1 {
	margin: 30px 0;
}
.top-page p {
	margin: 30px;
}
/*index*/
.index-page {
	margin: 30px;
}
.index-page h2 {
	margin: 10px 0;
}
.index-page h3 {
	margin: 10px 0;
}
.index-page h5 {
	margin: 10px 0 0;
}
.create-button {
	margin: 5px 0;
}
.table {
	width: 100%;
	font-size: 12px;
}
.table th {
	padding-bottom: 5px;
}
.table td {
	padding: 0 5px 5px
}
/*edit*/
.edit-page {
	margin: 30px;
}
.edit-page h2 {
	margin: 10px 0 0;
}
.edit-page h5 {
	margin: 10px 0 0;
}
.update-button {
	margin: 5px 0 10px;
}
/*show*/
.show-page {
	margin: 30px;
	font-size: 12px;
}